:root {
  --rainbow-gradient: linear-gradient(
    -90deg,
    #000000 0,
    #35c3ff 30%,
    #2b7b94 50%,
    #2a9d36 70%,
    #643a98 90%,
    #643a98 100%
  );
  --primary-color: #643a98;
  --secondary-color: #283c50;
  --red-color: #9b2318;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #eee;
  padding: 0;
  margin: 0;
}

.red-color {
  color: var(--red-color);
}
.link-color-black {
  color: var(--secondary-color);
}
.sidebar {
  background-color: var(--primary-color);
  max-width: 280px;
  min-width: 280px;
  height: 100vh;
  position: fixed;
}
.logo-image {
  width: 100%;
  max-width: 45px;
}
a.skip-content {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #fff;
  opacity: 0;
}
a.skip-content:focus,
a.skip-content:focus-visible,
a.skip-content:hover {
  opacity: 1;
}
.content {
  margin-left: 280px;
}
.link-action {
  font-size: 16px;
}
.link-color-white {
  color: white;
}
.main-heading,
.sub-title {
  font-size: 35px;
  font-weight: 600;
  background-image: var(--rainbow-gradient, #fff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-title {
  font-size: 25px;
  background-image: none;
  background-color: #000000;
  -webkit-text-fill-color: unset;
}
.pills {
  background-color: var(--secondary-color);
  border: 1px solid #1c313a;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 6px;
  display: inline-block;
}
.pills.round {
  border-radius: 100px;
  font-size: 14px;
  padding: 7px 10px;
  background-color: var(--primary-color);
}
.pill-wrapper {
  position: absolute;
  top: -19px;
  left: -1px;
  display: flex;
  gap: 10px;
}
li.compliance-item {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  flex-grow: 1;
  text-align: center;
  border-radius: 4px;
}
li.compliance-item:hover {
  background-color: var(--secondary-color);
  border: 2px dotted #b1cae3 !important;
}

a.compliance-link {
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: block;
  padding: 10px 15px;
  border-radius: 2px;
}
.contianer-div {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 30px 30px 0 0;
}
.main-content {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  border-radius: 30px;
  margin: 50px auto;
}
.back-link {
  background-color: white;
  color: #643a98;
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}

.container-body {
  padding: 40px;
}

/* card design */
/* From Uiverse.io by Yaya12085 */
.card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(100 58 152 / 17%),
    0 4px 6px -4px rgb(100 58 152 / 0%);
}
.card.card-pillsWraper .content-card {
  padding-top: 30px;
}
.content-card {
  padding: 10px;
}
.card-img img{
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
}
.conten-cardt .price {
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content-card .description {
  margin-top: 10px;
  font-size: 14px;
}

.content-card .title {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 26px;
  font-size: 20px;
}

.button-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 16px;
  background-color: var(--primary-color);

  border-radius: 100px;
  width: auto;
  text-shadow: 0px 4px 18px #2c3442;
  margin-top: auto;
  text-decoration: none;
}
.button-card:hover {
  background-color: var(--secondary-color);
}
a {
  padding: 1px 6px;
}
a:focus,
a:focus .small-icon::before {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: var(--red-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  border-radius: 4px;
  background-color: var(--red-color);
  padding: 1px 6px;
}
.small-icon {
  padding: 0;
}
.small-icon::before {
  color: var(--red-color);
}
.button-card:focus,
.back-link:focus,
.compliance-link:focus {
  outline: 1px dotted;
  outline-offset: 2px;
  outline-color: #603a93 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: var(--red-color);
  color: #fff;
}
.back-link:focus {
  padding: 8px 15px;
  border-radius: 20px;
}
.action-link {
  border: 2px solid transparent;
}
.action-link:focus {
  outline: 2px dotted;
  outline-offset: 3px;
  outline-color: var(--red-color) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff;
  border-radius: 4px;
}
.compliance-link:focus {
  outline-offset: 4px;
}
.top-bar {
  border-radius: 8px 8px 0 0;
  height: 6px;
  width: 100%;
  background-image: linear-gradient(-71deg, #4a6ee0, #643a98 95%);
}
.tool-image {
  width: 100%;
}

.demo-links {
  color: var(--red-color);
  font-weight: bold;
  padding: 1px 6px;
  font-size: 16px;
}
.demo-links:hover {
  color: var(--primary-color);
}
.accordion {
  border-radius: 10px;
  position: relative;
  margin-top: -4px;
}
.accordion-button:not(.collapsed) {
  background-color: #643a981c;
}
.accordion-button {
  border: 2px solid transparent;
}
.accordion-button:focus {
  box-shadow: unset;
  border: 2px dotted var(--red-color);
}

span.demo-label {
  color: white;
  margin-top: 12px;
  display: block;
  width: max-content;
  background: var(--secondary-color);
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
  font-size: 12px;
}
.accordion-button,
.accordion-body {
  padding: 12px 18px;
}
.dashboard-top-banner {
  background: var(--primary-color);
  padding: 10px 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}
ul.inner-list li {
  padding-top: 6px;
}
ul.inner-list li:last-child {
  padding-top: 6px;
  padding-bottom: 5px;
}

thead.thead-dark tr th {
  color: #fff;
  font-weight: 500;
  background: #9b4085;
  background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
  background: -webkit-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
  background: linear-gradient(135deg, #643a98 0%, #283c50 100%);
  white-space: nowrap;
  width: 12%;
  padding: 14px;
}
thead.thead-dark tr th:nth-child(2) {
  width: 20%;
}
thead.thead-dark tr th:last-child {
  width: 70%;
}
.table-responsive {
  overflow: hidden;
  border-radius: 10px;
}
.table-hover > tbody > tr:hover > * {
  background-color: #b280f000;
}
.table > tbody tr td {
  padding: 14px;
}
.table > tbody tr td a i {
  padding-left: 5px;
}
.table > tbody tr td a {
  color: var(--red-color);
}
/* tabs design */
.nav-pills {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px;
  gap: 15px;
}
.nav-pills .nav-link {
  padding: 10px 20px;
  border-bottom: 2px solid var(--secondary-color);
  background-color: #efefef;
  color: var(--primary-color);
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}

.nav-pills .nav-link.active {
  background-color: var(--red-color);
  border-bottom: 2px solid var(--secondary-color);
}
.nav-pills .nav-link.active:hover {
  background-color: var(--primary-color);
}
.nav-pills .nav-link:hover {
  background-color: var(--red-color);
  color: #fff;
}
.nav-pills .nav-link:focus {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: var(--red-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  background-color: var(--red-color);
}
li.nav-item {
  flex-grow: 1;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}
.bottom-list {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.bottom-list a {
  font-size: 18px;
  color: var(--red-color);
}

.demo-figure .demo-img {
  max-width: 100%;
}