//Base Html font
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  line-height: 25px;
}

a {
  letter-spacing: 0.4px;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.white-color {
  color: $white;
}
.dark-color {
  color: $primary-color;
}
.large-heading {
  font-size: 3.2rem;
  line-height: 40px;
}
.blue-color {
  color: #2b52cc;
}

.plain-text,
.complaince-list {
  font-size: 1.8rem;
  line-height: 35px;
}
.main-heading {
  font-size: 3.5rem;
  font-weight: 600;
  background-image: linear-gradient(
    -90deg,
    #2b52cc 0,
    #254d79 30%,
    #2b7b94 50%,
    #783381 70%,
    $secondary-color 90%,
    $secondary-color 100%
  );
  line-height: 45px;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-title {
  font-weight: 600;
  background-image: linear-gradient(
    -90deg,
    #000000 0,
    #35c3ff 30%,
    #2b7b94 50%,
    #2a9d36 70%,
    $secondary-color 90%,
    $secondary-color 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  background-image: none;
  background-color: $black;
  -webkit-text-fill-color: unset;
  margin: 30px 0 14px 0;
  a {
    color: $link-blue-color;
    display: flex;
    text-decoration: none;
    align-self: center;
  }
}

// carousel card design
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(100 58 152 / 17%),
    0 4px 6px -4px rgb(100 58 152 / 0%);
  margin-bottom: 30px;
  .content-card {
    padding: 10px;
    min-height: 220px;
    .description {
      margin-top: 10px;
      font-size: 1.7rem;
    }
    .title {
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 10px;
      line-height: 30px;
      font-size: 1.8rem;
    }
    .nav-pills {
      background-color: transparent;
      padding: 0 !important;
      margin-top: 15px;
      gap: 10px;
      justify-content: center;
      li.nav-item {
        flex-grow: unset;
      }
    }
    a.nav-link {
      border-radius: 4px;
      font-size: 1.4rem !important;
      padding: 1px 5px !important;
      background-color: #b1cae3 !important;
      color: #25446b;
      border: unset !important;
      opacity: 1 !important;
      margin: 0 !important;
      width: auto !important;
      height: auto !important;
      text-indent: unset !important;
      &.active,
      &:hover,
      .nav-link &:focus {
        color: black !important;
      }

      &:focus {
        outline: 2px dotted;
        outline-offset: 2px;
        outline-color: $link-color;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        background-color: $link-color;
      }
    }
    .card-img {
      img {
        width: 100%;
        border-radius: 8px;
        border: 1px solid $border-color;
        object-fit: contain;
      }
    }
  }
}
.code-toolbar {
  position: relative;

  .toolbar {
    position: absolute;
    top: 0.5em;
    right: 1em;
    transition: opacity 0.3s ease-in-out;
    .copy-text-btn {
      border: none;
      color: $white;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.4rem;
      letter-spacing: 0.5px;
      padding: 5px 12px;
      background-color: $button-bg;
      border-radius: 4px;
    }
  }

  .code-text {
    padding: 1.5rem;
    background-color: $light-gray;
    border-radius: 10px;
    color: $black;
    width: 100%;
    margin: 20px auto;
    max-width: 800px;
  }
}

.demo-figure {
  .demo-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 15px auto;
    display: block;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 15%);
  }
  figcaption {
    font-size: 16px;
    display: flex;
    font-family: ui-monospace;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: $light-gray;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid $border-color;
  }
}

.hr {
  height: 3px;
  color: black;
  opacity: 1;
}