
$font-family: "Roboto Slab", serif;
$white: #fff;
$black: #000;
$primary-color: #25446b;
$secondary-color: #643a98;
$tamarillo: #9B2318;
$white: #fff;
$spindle :#b1cae3;
$border-color:#25446b;
$link-color: #9b2318;
$button-bg: #304e75;
$sidebar-bg: #d7d7d7;