//Variables
html {
  font-size: 10px;
}

@import "variables/colors";

//Generic style
@import "generic/mixins";
@import "generic/common";
@import "generic/form";
@import "generic/buttons";
@import "generic/animation";

// Library
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

//Components
@import "components/homepage";
@import "components/navigation";



