@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
html {
  font-size: 10px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 25px;
}

a {
  letter-spacing: 0.4px;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
}

.white-color {
  color: #fff;
}

.dark-color {
  color: #25446b;
}

.large-heading {
  font-size: 3.2rem;
  line-height: 40px;
}

.blue-color {
  color: #2b52cc;
}

.plain-text,
.complaince-list {
  font-size: 1.8rem;
  line-height: 35px;
}

.main-heading {
  font-size: 3.5rem;
  font-weight: 600;
  background-image: linear-gradient(-90deg, #2b52cc 0, #254d79 30%, #2b7b94 50%, #783381 70%, #643a98 90%, #643a98 100%);
  line-height: 45px;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title {
  font-weight: 600;
  background-image: linear-gradient(-90deg, #000000 0, #35c3ff 30%, #2b7b94 50%, #2a9d36 70%, #643a98 90%, #643a98 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  background-image: none;
  background-color: #000;
  -webkit-text-fill-color: unset;
  margin: 30px 0 14px 0;
}
.sub-title a {
  color: #2b52cc;
  display: flex;
  text-decoration: none;
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(100, 58, 152, 0.17), 0 4px 6px -4px rgba(100, 58, 152, 0);
  margin-bottom: 30px;
}
.card .content-card {
  padding: 10px;
  min-height: 220px;
}
.card .content-card .description {
  margin-top: 10px;
  font-size: 1.7rem;
}
.card .content-card .title {
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 10px;
  line-height: 30px;
  font-size: 1.8rem;
}
.card .content-card .nav-pills {
  background-color: transparent;
  padding: 0 !important;
  margin-top: 15px;
  gap: 10px;
  justify-content: center;
}
.card .content-card .nav-pills li.nav-item {
  flex-grow: unset;
}
.card .content-card a.nav-link {
  border-radius: 4px;
  font-size: 1.4rem !important;
  padding: 1px 5px !important;
  background-color: #b1cae3 !important;
  color: #25446b;
  border: unset !important;
  opacity: 1 !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  text-indent: unset !important;
}
.card .content-card a.nav-link.active, .card .content-card a.nav-link:hover, .nav-link .card .content-card a.nav-link:focus {
  color: black !important;
}
.card .content-card a.nav-link:focus {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #9b2318;
}
.card .content-card .card-img img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #25446b;
  -o-object-fit: contain;
     object-fit: contain;
}

.code-toolbar {
  position: relative;
}
.code-toolbar .toolbar {
  position: absolute;
  top: 0.5em;
  right: 1em;
  transition: opacity 0.3s ease-in-out;
}
.code-toolbar .toolbar .copy-text-btn {
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  padding: 5px 12px;
  background-color: #304e75;
  border-radius: 4px;
}
.code-toolbar .code-text {
  padding: 1.5rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  color: #000;
  width: 100%;
  margin: 20px auto;
  max-width: 800px;
}

.demo-figure .demo-img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 15px auto;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.demo-figure figcaption {
  font-size: 16px;
  display: flex;
  font-family: ui-monospace;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid #25446b;
}

.hr {
  height: 3px;
  color: #000;
  opacity: 1;
}

.formlabel {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
}
@keyframes progress-bar-animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0;
  }
}
@keyframes progress-bar-animate-rtl {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200px 0;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-200px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-40px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-5px);
  }
  20%, 40%, 60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-3px);
  }
}
@keyframes rotate-scale-down {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flight {
  0% {
    top: 500px;
    right: 0px;
    opacity: 0%;
  }
  2% {
    opacity: 0%;
  }
  20% {
    top: 220px;
    right: 103px;
    opacity: 100%;
  }
  25% {
    top: 221px;
    right: 103px;
  }
  35% {
    top: 218px;
  }
  45% {
    top: 222px;
    right: 103px;
  }
  55% {
    top: 219px;
    right: 103px;
  }
  65% {
    top: 221px;
    right: 103px;
  }
  75% {
    top: 218px;
  }
  80% {
    top: -150px;
    right: 103px;
    opacity: 100%;
    transform: scale(0.4) rotate(50deg);
  }
  90% {
    opacity: 0%;
  }
  100% {
    top: -150px;
    right: 200px;
    opacity: 0%;
    transform: scale(0.3) rotate(50deg);
  }
}
@keyframes flight-rtl {
  0% {
    top: 500px;
    left: 0px;
    opacity: 0%;
  }
  2% {
    opacity: 0%;
  }
  20% {
    top: 220px;
    left: 103px;
    opacity: 100%;
  }
  25% {
    top: 221px;
    left: 103px;
  }
  35% {
    top: 218px;
  }
  45% {
    top: 222px;
    left: 103px;
  }
  55% {
    top: 219px;
    left: 103px;
  }
  65% {
    top: 221px;
    left: 103px;
  }
  75% {
    top: 218px;
  }
  80% {
    top: -150px;
    left: 103px;
    opacity: 100%;
    transform: scale(0.4) rotate(50deg);
  }
  90% {
    opacity: 0%;
  }
  100% {
    top: -150px;
    left: 203px;
    opacity: 0%;
    transform: scale(0.3) rotate(50deg);
  }
}
@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes pulsing {
  from {
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ca4246;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #ca4246 16.666%, #e16541 16.666%, #e16541 33.333%, #3591a7 33.333%, #3591a7 50%, #3f6aa3 50%, #3f6aa3 66.666%, #476098 66.666%, #476098 83.333%, #a7489b 83.333%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
@keyframes roll-in-right {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  30% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-1000px) rotate(-540deg);
  }
}
@keyframes moveX {
  0% {
    transform: translateX(-10%);
  }
  5% {
    transform: translateX(-7%);
  }
  10% {
    transform: translateX(-5%);
  }
  15% {
    transform: translateX(-3%);
  }
  20% {
    transform: translateX(-1%);
  }
  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(1%);
  }
  45% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(5%);
  }
  55% {
    transform: translateX(7%);
  }
  60% {
    transform: translateX(10%);
  }
  65% {
    transform: translateX(7%);
  }
  70% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(3%);
  }
  80% {
    transform: translateX(1%);
  }
  85% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(-10%);
  }
}
@keyframes football-kick {
  0% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  10% {
    transform: skewX(-5deg) translateY(-17px) rotate3D(1, 1, 1, 3deg);
  }
  20% {
    transform: skewX(-5deg) translateY(-19px) rotate3D(1, 1, 1, 4deg);
  }
  30% {
    transform: skewX(-5deg) translateY(-17px) rotate3D(1, 1, 1, 3deg);
  }
  40% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  50% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  60% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  70% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  80% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  90% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
  100% {
    transform: skewX(-2deg) translateY(-2px) rotate3D(1, 1, 1, 0deg);
  }
}
@keyframes slide-ball {
  0% {
    transform: scale(0.4) translate3d(43px, 0px, 0px);
  }
  10% {
    transform: scale(0.4) translate3d(30px, 30px, 20px);
  }
  20% {
    transform: scale(0.45) translate3d(20px, 60px, 20px);
  }
  30% {
    transform: scale(0.5) translate3d(20px, 70px, 20px);
  }
  40% {
    transform: scale(0.6) translate3d(40px, 75px, 20px);
  }
  50% {
    transform: scale(0.7) translate3d(65px, 75px, 20px);
  }
  60% {
    transform: scale(0.4) translate3d(150px, 150px, 20px);
  }
  70% {
    transform: scale(0) translate3d(150px, 150px, 20px);
  }
  80% {
    transform: scale(0) translate3d(150px, 150px, 20px);
  }
  90% {
    transform: scale(0) translate3d(150px, 150px, 20px);
  }
  100% {
    transform: scale(0) translate3d(150px, 150px, 20px);
  }
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  font-family: "Roboto Slab", serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.red-color {
  color: #9B2318;
}

.link-color-black {
  color: #25446b;
}

.logo__image {
  width: 180px;
}
.logo:focus {
  background-color: transparent;
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  border-radius: 4px;
}

.sidebar {
  top: 0;
  background-color: #d7d7d7;
  max-width: 280px;
  min-width: 280px;
  height: 100vh;
  position: fixed;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-right: 1px solid #dddddd;
}

a.skip-content {
  position: absolute;
  top: -50px;
  z-index: 1;
  color: #25446b;
  opacity: 0;
}
a.skip-content:focus {
  opacity: 1;
  top: 0;
}
a.skip-content:focus-visible {
  opacity: 1;
}
a.skip-content:hover {
  opacity: 1;
}

.content {
  margin-left: 280px;
}

.link-action {
  font-size: 1.6rem;
}

.pills {
  background-color: #25446b;
  border: 1px solid #1c313a;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.8rem;
  border-radius: 4px;
  display: inline-block;
}
.pills.round {
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 1px 8px;
  background-color: #b1cae3;
  color: #25446b;
  border: unset;
}

.pill-wrapper {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}

li.compliance-item {
  background-color: #643a98;
  border: 2px solid #25446b;
  flex-grow: 1;
  text-align: center;
  border-radius: 4px;
}
li.compliance-item:hover {
  background-color: #25446b;
  border: 2px dotted #b1cae3 !important;
}

a.compliance-link {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  display: block;
  padding: 10px 15px;
  border-radius: 2px;
}

.contianer-div {
  max-width: 900px;
  width: 100%;
  text-align: center;
  background-color: #25446b;
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 20px 20px 0 0;
}

.main-content {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  border-radius: 20px;
  margin: 50px auto;
}

.back-link {
  background-color: #fff;
  color: #25446b;
  border-radius: 20px;
  padding: 8px 15px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
.back-link:focus {
  outline: 1px dotted;
  outline-offset: 2px;
  outline-color: #643a98 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #9b2318;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
}

.container-body {
  padding: 40px;
}

.button-card {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 9px 12px;
  background-color: #304e75;
  border-radius: 4px;
  width: auto;
  text-shadow: 0px 4px 18px #2c3442;
  margin-top: auto;
  text-decoration: none;
}
.button-card:hover {
  background-color: #643a98;
}
.button-card:focus {
  outline: 1px dotted;
  outline-offset: 2px;
  outline-color: #603a93 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #9b2318;
  color: #fff;
  padding: 9px 12px;
}

a {
  padding: 1px 6px;
}
a:focus {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  border-radius: 4px;
  background-color: #9b2318;
  padding: 1px 6px;
}
a:focus .small-icon::before {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  border-radius: 4px;
  background-color: #9b2318;
  padding: 1px 6px;
}

.small-icon {
  padding: 0;
}
.small-icon::before {
  color: #9b2318;
}

.compliance-link:focus {
  outline: 1px dotted;
  outline-offset: 2px;
  outline-color: #603a93 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #9b2318;
  color: #fff;
  outline-offset: 4px;
}

.action-link {
  border: 2px solid transparent;
}
.action-link:focus {
  outline: 2px dotted;
  outline-offset: 3px;
  outline-color: #9b2318 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff;
  border-radius: 4px;
}

.top-bar {
  border-radius: 8px 8px 0 0;
  height: 6px;
  width: 100%;
  background-image: linear-gradient(-71deg, #4a6ee0, #643a98 95%);
}

.tool-image {
  width: 100%;
}

.demo-links {
  color: #2b52cc;
  font-weight: bold;
  padding: 1px 6px;
  font-size: 1.8rem;
}
.demo-links:hover {
  color: #643a98;
}

.accordion {
  border-radius: 10px;
  position: relative;
  margin-top: -4px;
}

.accordion-button {
  font-size: 1.7rem;
  color: #25446b;
  border: 2px solid transparent;
  padding: 12px 18px;
}
.accordion-button:not(.collapsed) {
  color: #25446b;
  background-color: #fff;
}
.accordion-button:focus {
  box-shadow: unset;
  border: 2px dotted #9b2318;
}

.demo-label {
  color: #25446b;
  margin-top: 12px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
  font-size: 1.2rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.accordion-body {
  padding: 12px 18px;
}

ul.inner-list li {
  padding-top: 6px;
}
ul.inner-list li:last-child {
  padding-top: 6px;
  padding-bottom: 5px;
}

thead.thead-dark tr th {
  color: #fff;
  font-weight: 500;
  background: #9b4085;
  background: linear-gradient(135deg, #643a98 0%, #25446b 100%);
  white-space: nowrap;
  width: 12%;
  padding: 14px;
}
thead.thead-dark tr th:nth-child(2) {
  width: 20%;
}
thead.thead-dark tr th:last-child {
  width: 70%;
}

.table-responsive {
  overflow: hidden;
  border-radius: 10px;
}

.table-hover > tbody > tr:hover > * {
  background-color: rgba(178, 128, 240, 0);
}

.table {
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.8rem;
  line-height: 28px;
}
.table > tbody tr td {
  padding: 14px;
}
.table > tbody tr td a {
  color: #9b2318;
}
.table > tbody tr td a i {
  padding-left: 5px;
}

.nav-pills {
  background-color: #eee;
  border-radius: 4px;
  padding: 12px;
  gap: 15px;
}
.nav-pills .nav-link {
  padding: 10px 20px;
  border: 2px solid transparent;
  background-color: white;
  color: #000;
  border-radius: 4px;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}
.nav-pills .nav-link:hover {
  background-color: #2b52cc;
  color: white;
}
.nav-pills .nav-link:focus {
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  color: #fff !important;
}
.nav-pills .nav-link.active {
  background-color: #000;
  border: 2px solid #25446b;
}
.nav-pills .nav-link.active:hover {
  background-color: #000;
}

li.nav-item {
  flex-grow: 1;
}

.bottom-list {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.bottom-list a {
  font-size: 1.8rem;
  display: flex;
  gap: 2px;
  color: #2b52cc;
  text-decoration: none;
}

.internal-main-nav {
  box-shadow: inset 0 -7px #cdcccc, 1px 20px 0px 0 rgba(218, 228, 238, 0.1411764706);
  background-color: #d7d7d7;
  padding: 15px;
  width: 100%;
}
.internal-main-nav .logo__image {
  width: 180px;
}
.internal-main-nav .logo:focus {
  background-color: transparent;
}
.internal-main-nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-left: 280px;
}
.internal-main-nav .nav-container.internal-page-header {
  justify-content: space-between;
  padding: 0;
}
.internal-main-nav nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  gap: 10px;
  margin-bottom: 0;
}
.internal-main-nav nav ul li {
  list-style: none;
}
.internal-main-nav nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  background: #25446b;
  border-radius: 4px;
  letter-spacing: 0.6px;
}
.internal-main-nav nav ul li a:hover, .internal-main-nav nav ul li a:focus {
  background-color: #9b2318;
  text-decoration: none;
}
.internal-main-nav nav ul li a.active {
  background-color: #9b2318;
  outline: 2px dotted;
  outline-offset: 2px;
  outline-color: #9b2318;
}/*# sourceMappingURL=global.css.map */